In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.metrics import *
from pandas import DataFrame, Series

plt.style.use('seaborn')
sns.set(font_scale=2.5)

In [2]:
stock_data = pd.read_csv('/Users/growing/Downloads/trade_train_set/stocks.csv')
trade_data = pd.read_csv('/Users/growing/Downloads/trade_train_set/trade_train.csv')

In [3]:
stock_data.shape, trade_data.shape

((286061, 15), (30200, 13))

In [4]:
columns=trade_data.columns
columns

Index(['Unnamed: 0', '기준년월', '그룹번호', '그룹내고객수', '종목번호', '그룹내_매수여부', '그룹내_매도여부',
       '매수고객수', '매도고객수', '평균매수수량', '평균매도수량', '매수가격_중앙값', '매도가격_중앙값'],
      dtype='object')

In [5]:
trade_data.head()

,Unnamed: 0,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값
0,0,201907,MAD01,288,A000660,Y,Y,7,17,19,234,74800,78500
1,1,201907,MAD01,288,A001820,Y,Y,3,4,533,154,47385,46700
2,2,201907,MAD01,288,A004020,Y,Y,3,3,409,528,41411,40000
3,3,201907,MAD01,288,A005380,Y,Y,4,3,323,451,140602,140628
4,4,201907,MAD01,288,A005930,Y,Y,13,19,34,101,45350,46850

In [6]:
stock_data.head()

,index,기준일자,종목번호,종목명,20년7월TOP3대상여부,시장구분,표준산업구분코드_대분류,표준산업구분코드_중분류,표준산업구분코드_소분류,종목시가,종목고가,종목저가,종목종가,거래량,거래금액_만원단위
0,0,20190701,A000020,동화약품,N,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,9680,9840,9680,9710,31341,30581
1,1,20190701,A000080,하이트진로,N,코스피,제조업,음료 제조업,알코올음료 제조업,20550,20550,20200,20300,127186,258535
2,2,20190701,A000100,유한양행,Y,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,259000,267500,250000,251500,395757,10139357
3,3,20190701,A000120,CJ대한통운,N,코스피,운수 및 창고업,육상운송 및 파이프라인 운송업,도로 화물 운송업,136500,137000,133000,136000,62513,846100
4,4,20190701,A000140,하이트진로홀딩스,Y,코스피,금융 및 보험업,금융업,기타 금융업,9060,9190,8910,9000,7661,6896

In [7]:
trade_data.dtypes

Unnamed: 0     int64
기준년월           int64
그룹번호          object
그룹내고객수         int64
종목번호          object
그룹내_매수여부      object
그룹내_매도여부      object
매수고객수          int64
매도고객수          int64
평균매수수량         int64
평균매도수량         int64
매수가격_중앙값       int64
매도가격_중앙값       int64
dtype: object

In [8]:
stock_data['종목명'].value_counts()

이수페타시스         268
제낙스            268
아진산업           268
일동제약           268
메리츠증권          268
윈스             268
엘앤에프           268
ISC            268
동화약품           268
나무기술           268
삼성SDS          268
포티스            268
에이비프로바이오       268
모나미            268
이랜텍            268
유니슨            268
KB금융           268
대성창투           268
펩트론            268
자안             268
해마로푸드서비스       268
에스코넥           268
유틸렉스           268
승일             268
웹젠             268
모베이스           268
서울반도체          268
케이프            268
YGPLUS         268
큐브엔터           268
              ...
캐리소프트          187
티라유텍           185
아이티엠반도체        180
라파스            178
한화시스템          176
제테마            175
현대에너지솔루션       172
우양             171
코리아에셋투자증권      171
씨에스베어링         170
티움바이오          169
센트랄모텍          168
노터스            166
코리아센터          164
태웅로직스          157
제이엘케이          156
신테카바이오         152
메드팩토           150
브릿지바이오테라퓨틱스    149
메탈라이프          147
케이씨씨글라스        130
서남             110
레몬             104
켄코아에어로스페이스     102
제이앤티씨          101
플레이디            95
엔피디             93
이지바이오           38
에스씨엠생명과학        30
엘이티             27
Name: 종목명, Length: 1087, dtype: int64

In [9]:
target_data_pool = stock_data.loc[stock_data['20년7월TOP3대상여부'].str.contains('Y', na = False)]
target_data_pool['종목명'].value_counts()

이수페타시스      268
SK하이닉스      268
젬백스         268
대덕          268
로보로보        268
리드코프        268
한샘          268
테스          268
휴메딕스        268
롯데지주우       268
유니크         268
삼성전자        268
지노믹트리       268
KT서브마린      268
코오롱생명과학     268
체시스         268
슈프리마        268
중앙에너비스      268
코웨이         268
와이제이엠게임즈    268
하이트진로홀딩스    268
한국전력        268
한미사이언스      268
혜인          268
LG유플러스      268
삼성중공업       268
샘표식품        268
농심          268
LG화학        268
CJ씨푸드       268
           ...
에코프로        268
한화솔루션       268
태림포장        268
큐리언트        268
초록뱀         268
카카오         268
KMH하이텍      268
하나머티리얼즈     268
인지디스플레      268
아모레퍼시픽      268
디에이테크놀로지    268
롯데쇼핑        268
모베이스        268
넥스트BT       268
SK          268
유한양행        268
KNN         268
삼성전자우       268
세원          268
SK바이오랜드     268
와이오엠        268
비트컴퓨터       268
동아지질        268
코윈테크        243
아톤          195
엔바이오니아      190
캐리소프트       187
한화시스템       176
메드팩토        150
이지바이오        38
Name: 종목명, Length: 135, dtype: int64

In [10]:
target_data_pool = target_data_pool.drop_duplicates(subset = ['종목명'])

Answer  = target_data_pool['종목명'].values.tolist()
Answer

['유한양행',
 '하이트진로홀딩스',
 '중앙에너비스',
 'SK하이닉스',
 '한화우',
 'DB하이텍',
 'SK증권',
 '동양',
 '이화공영',
 '부광약품',
 '혜인',
 '대한항공',
 '현대제철',
 '농심',
 '롯데지주우',
 '모나미',
 '현대차',
 '삼성전자',
 '삼성전자우',
 '미래에셋대우',
 'GS리테일',
 '일양약품',
 '이수페타시스',
 '태평양물산',
 '대덕',
 '한미사이언스',
 '한샘',
 '한화솔루션',
 '삼성중공업',
 '삼성중공우',
 '웰바이오텍',
 'SOil',
 'CJ씨푸드',
 '태림포장',
 '유니크',
 '리드코프',
 '메디앙스',
 '한국전력',
 'SK텔레콤',
 '한온시스템',
 '신풍제약',
 '에이티넘인베스트',
 '코웨이',
 '롯데쇼핑',
 '다우기술',
 '대성엘텍',
 '신라에스지',
 '동아지질',
 'KT',
 '드래곤플라이',
 'LG유플러스',
 '비트컴퓨터',
 '시그네틱스',
 '체시스',
 'SK',
 'NAVER',
 '카카오',
 'SFA반도체',
 '엔씨소프트',
 '주성엔지니어링',
 '인지디스플레',
 '상상인',
 '두산인프라코어',
 '이글벳',
 '포스코인터내셔널',
 '유니온머티리얼',
 '초록뱀',
 '기가레인',
 '라이브플렉스',
 '큐로홀딩스',
 'LG화학',
 'SK바이오랜드',
 'KMH하이텍',
 '멕아이씨에스',
 'KNN',
 'KT서브마린',
 '넥스트BT',
 '와이오엠',
 '대화제약',
 '셀트리온',
 '젬백스',
 '에코프로',
 '케이씨티',
 '상아프론테크',
 '덕신하우징',
 '아모레퍼시픽',
 '셀트리온헬스케어',
 '테스',
 '씨젠',
 'SK이노베이션',
 '모베이스',
 '코오롱생명과학',
 'KB금융',
 '우진',
 '크루셜텍',
 '큐리언트',
 '아이에이네트웍스',
 '피앤이솔루션',
 '메가엠디',
 '데일리블록체인',
 'DGB금융지주',
 '포티스',
 '하나머티리얼즈',
 '장원테크',
 '와이제이엠게임즈',
 '퓨전',
 '디에이테크놀로지',
 '휴메딕스',
 '비씨월드제약',
 '덱스터',
 '로보로보',
 '강스템바이오텍',
 'RFHIC',
 '씨아이에스',
 '케이엠제약',
 '지노믹트리',
 '세원',
 '슈프리마',
 '줌인터넷',
 '나무기술',
 '샘표식품',
 '명성티엔에스',
 '디앤씨미디어',
 '케이씨텍',
 'SK케미칼',
 '에스퓨얼셀',
 '디케이티',
 '컴퍼니케이',
 '코윈테크',
 '아톤',
 '엔바이오니아',
 '캐리소프트',
 '한화시스템',
 '메드팩토',
 '이지바이오']

In [12]:
stock_data['표준산업구분코드_대분류'].value_counts()

제조업                        185875
정보통신업                       37102
도매 및 소매업                    21172
금융 및 보험업                    14107
전문· 과학 및 기술 서비스업            10496
건설업                          5628
운수 및 창고업                     5517
수도· 하수 및 폐기물 처리· 원료 재생업      1608
서비스업                         1340
교육 서비스업                      1072
사업시설관리 및 사업지원 및 임대 서비스업       804
전기· 가스· 증기 및 공기조절 공급업         536
예술· 스포츠 및 여가관련                536
개인 서비스업                       268
Name: 표준산업구분코드_대분류, dtype: int64

In [10]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [12]:
#이번 실습에서 학습에 사용하지 않을 컬럼 제거
train = df_train.drop(['Cabin', 'Embarked', 'Name', 'Ticket', 'PassengerId'],axis=1)
test = df_test.drop(['Cabin', 'Embarked', 'Name', 'Ticket'],axis=1)

#결측치를 평균값으로 대체
train["Age"].fillna(train.groupby("Sex")["Age"].transform("mean"), inplace=True)
test["Age"].fillna(test.groupby("Sex")["Age"].transform("mean"), inplace=True)
test["Fare"].fillna(test.groupby("Sex")["Fare"].transform("median"), inplace=True)

In [13]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [14]:
test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [15]:
#문자열로 이루어진 'sex' 컬럼은 숫자로 매핑
sex_mapping = {"male": 0, "female": 1}
train['Sex'] = train['Sex'].map(sex_mapping)
test['Sex'] = test['Sex'].map(sex_mapping)

#'Age', 'Fare' 컬럼에 대하여 평균으로부터 3시그마 안에 포함되지 않는 값들은 이상치로 판단하여 모두 제거
age_mean = train['Age'].mean()
age_std = train['Age'].std()
indexNames = train[train['Age'] < age_mean - 3*age_std].index
train.drop(indexNames , inplace=True)
indexNames = train[train['Age'] > age_mean + 3*age_std].index
train.drop(indexNames , inplace=True)
fare_mean = train['Fare'].mean()
fare_std = train['Fare'].std()
indexNames = train[train['Fare'] < fare_mean - 3*fare_std].index
train.drop(indexNames , inplace=True)
indexNames = train[train['Fare'] > fare_mean + 3*fare_std].index
train.drop(indexNames , inplace=True)